{% extends 'base.html' %}
{% block title %}
  Risky Business
{% endblock %}
{% block header %}
Risky Business
{% endblock %}

{% block user_input %}
<div class="explanatory-text">
    <p>
        Some families play monopoly to create some added tension during the holidays, my family played Risk.
        <br>
        We also had the house rule that defenders could choose how many dice they could roll (up to 3), based on the roll of the attacking player.
        <br>
        This usually ended up in everyone playing by the rules that if the attacking player's roll was all above 4, the defender would just roll one die.
        <br>
        If the attacking had predominantly low numbers, the defender would roll all their dice.
    </p>
    <p>
        Below you will be able to select the house rules of your own and run a number of simulations.
        <br>
        The goal was to see how much the Monte Carlo simulation results overlapped with the intuition built up from years of playing the game with family.
    </p>
</div>
<div class="form-input">
    <form role="form" method="post" action="/">
        <input class="form-control" type="number" min="2" step="1" name="attacking_armies" placeholder="Attacking armies" required>
        <br><br>
        <input class="form-control" type="number" min="1" step="1" name="defending_armies" placeholder="Defending armies" required>
        <br><br>
        <input class="form-control" type="number" min="1" step="1" name="simulations" placeholder="Number of simulations" required>
        <br><br>
        <input type="radio" name="roll_rules" value="basic" required>Defender plays according to regular rules</label>
        <br><br>
        <input type="radio" name="roll_rules" value="house" required>Defender plays according to house rules</input>
        <br><br>
        <input type="radio" name="roll_rules" value="improved" required>Defender plays according to improved house rules</input>
        <br><br>
        <label class="checkbox-inline"><input type="checkbox" name="results_text">Show textual results too</label>
        <br><br>
        <button type="submit" class="btn btn-primary">Simulate</button>
    </form>
</div>
{% endblock %}
{% block results %}
    <div class="col-sm-3 col-sm-offset-1">
     {% if results and results_text %}
        <h3>Results:</h3>
        <br>
        <div id="results">
          <table class="table table-striped" style="max-width: 300px;">
            <thead>
              <tr>
                <th>Result</th>
                <th>Count</th>
              </tr>
            </thead>
            {% for result,count in results.items() %}
              <tr>
                <td>{{ result }}</td>
                <td>{{ count }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
     {% endif %}
   </div>
    <br><br>
   <div class="col-sm-5 col-sm-offset-1">
       {% if results %}
       <img src="data:image/png;base64,{{ fig }}">
       {% endif %}
   </div>
{% endblock %}